body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.container{
    width:60%;
    margin:auto;
}

.showcase{
    width: 100%;
    height: auto;
    text-align: center;
    background-image: linear-gradient(rgb(17, 211, 218), rgb(95, 5, 95), rgb(0, 0, 0));
    background-repeat: no-repeat;
    position: absolute;
    margin: 0px;
}

.submenu{
    display: none;
    position: absolute;
}
.current:hover .submenu{
    display: block;
}
.current > ul li{
    top: 15px;
    padding: 12px 0;
    margin-left: 118px;
    color:#fff;
    position: relative;
    display: block;
    z-index: 2;
    text-align: center;
    background: #6d6767;
}
.borda{
    padding: 33px 10px;
}
.current > ul li a{
    height: 60px;
    min-width: 800px;
    background: #6d6767;
    padding: 15px 12px;
}
.current > ul a:hover{
    background:rgba(95, 5, 95,0.5);
}

.div-tree{
background-color: #ada2a4ff;
border-radius: 60px;
margin: auto;
padding: 25px;
width: 460px;
margin-bottom: 25px;
}

.new{
    background-color: #7e7676;
    padding: 10px;
    height: 63px;
}
  
.new h1{
    text-align: center;
    color: rgb(37, 37, 37);
    font-size: 13px;
}

